@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400;0,700;1,400;1,700&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --serif-font: "Gentium Book Plus", serif;
  --sans-serif-font: "Finlandica", sans-serif;

  --page-title-font-size: 3.5rem;
  --primary-section-headline-font-sihze: 2.5rem;
}
