@import url(./new-question-form.css);
@import url(../../question-card/question-card.css);
@import url(./taglist.css);
@import url(./profile.css);
@import url(./big-button.css);

.content-area {
  padding: 5rem 2rem 2rem 2rem;
  max-width: 60rem;
  margin-bottom: 5rem;
}
