.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile__picture {
  border-radius: 50%;
  padding: 1rem;
  width: 100%;
}

.profile__user-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__about-text {
  grid-column-start: 1;
  grid-column-end: 3;
}
