.question-card {
  background: var(--secondary-background-color);
  border-radius: 1rem;
  position: relative;
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.question-card__bookmark-button {
  position: absolute;
  border-width: 0px;
  border-radius: 0.4rem;
  background: var(--highlight-color);
  color: var(--secondary-background-color);
  top: -1rem;
  right: 3rem;
}

.question-card__question {
  padding: 0 0 1.5rem 0;
}

.question-card__show-answer-button {
  padding: 0.6rem;
  border-radius: 0.8rem;
  border-width: 1px;
  border-color: var(--highlight-color);
  background: var(--secondary-background-color);
}

.question-card__answer {
  padding: 1.5rem 0 0 0;
}

.question-card__answer--hidden {
  display: none;
}
