.taglist {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  padding: 1.5rem 0;
  list-style: none;
}

.taglist--flex-span-two {
  grid-column-start: 1;
  grid-column-end: 3;
}

.taglist__tag {
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  color: var(--primary-light-color);
  background-color: var(--secondary-dark-color);
  font-family: var(--sans-serif-font);
  font-size: var(--smaller-font-size);
}
