.title-bar {
  padding: 1rem 1rem 1rem 1rem;
  background: var(--secondary-dark-color);
}

.title-bar__page-title {
  text-align: center;
  color: var(--primary-light-color);
  font-family: var(--sans-serif-font);
  font-size: var(--page-title-font-size);
}
